header {
  background-color: white;
}

header .header-container {
  height: 80px;
  width: 80%;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .header-container nav {
  height: 100%;
  display: flex;
  align-items: center;
}

header .header-container nav ul {
  display: flex;
  align-items: center;
}

header .header-container nav li {
  margin: 0 8px;
  list-style-type: none;
}

header .header-container nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 19px;
}

header .header-container img {
  height: 60px;
}

.bg-primary {
  background-color: #0282f9;
}

.bg-grey {
  background-color: #303030;
}

.h-80 {
  height: 80px;
}

.h-60 {
  height: 60px;
}

.h-100 {
  height: 100px;
}

.h-130 {
  height: 130px;
}

footer {
  background-image: url(/img/footer-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 100px;
}

footer .bg-logo {
  background-image: url(/img/dc-logo-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 50%;
}

footer .footer-container {
  height: 100%;
  width: 80%;
  margin: 0 auto;
}

footer .container-links {
  height: 100%;
  width: 80%;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
}

footer .container-social {
  height: 100%;
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .card-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .card {
  width: 20%;
  display: flex;
  align-items: center;
}

footer .card img {
  height: 50px;
}

footer a {
  text-decoration: none;
  font-weight: bold;
  font-size: 13px;
  color: white;
  margin-left: 10px;
}

footer .info {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
}

footer .link {
  text-align: left;
  padding: 35px 20px;
}

footer .link ul {
  margin-bottom: 10px;
}

footer .link li {
  list-style-type: none;
}

footer .link a {
  color: grey;
  text-decoration: none;
  font-size: 14px;
}

footer .link h3 {
  color: white;
  margin-bottom: 10px;
}

footer .social {
  display: flex;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}

footer .social h3 {
  color: #0282f9;
}

footer .social img {
  height: 25px;
}

footer button {
  background-color: transparent;
  padding: 15px 10px;
  border: 2px solid #0282f9;
  color: white;
  font-size: 16px;
}

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.jumbotron {
  height: 330px;
  width: 100%;
  background-image: url(/img/jumbotron.jpg);
  background-position: center top;
  background-size: cover;
}

.main-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  background-color: #1c1c1c;
}

.card {
  text-align: center;
  width: 16.6666666667%;
  color: white;
  padding: 1rem;
}

.card h3 {
  font-size: 15px;
}

.card img {
  height: 120px;
}

